/*Google font import*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*CSS Variables*/
:root {
    --primary-color: #3D1F14;      /* Deep Brown  */
    --secondary-color: #7FA669;   /* Botanical Green */
    --background-color: #FFF9F0;   /* Light Cream */
    --neutral-color: #CDC0B6;      /* Warm Greige*/
    --accent-color: #BF5E39;       /* Terracotta */
}
/*Global style*/
/* Navigation */
.navbar {
    background-color: var(--neutral-color);
}
body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: var(--background-color);
}

h1,
h2,
h3 {
    font-family: "Inter", sans-serif;
}

h1,
h2 {
    font-weight: 700;
}

h1,
h2,
h3 {
    color: var(--primary-color);
}



h3 {
    font-weight: 600;
}
.navbar-logo {
    width: 50px;
    height: auto;
}